src/main/mule/e-store-express-common.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<error-handler name="commonErrorHandler" doc:id="32b73e67-22fb-4afb-a085-f3347c83ea7d" >
		<on-error-propagate  enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="309d5a67-aa4b-4081-8276-e284e8b73b74" type="APPERROR:NO_SUCH_CLIENT">
			<ee:transform doc:name="error_canonical" doc:id="4056b50f-112f-4c9d-a6b5-45f3dad201b6" >
				<ee:message >
					<ee:set-payload resource="dwl/error_canonical.dwl"/>
				</ee:message>
			</ee:transform>
			<flow-ref doc:name="publish-errorq-subflow" doc:id="fd5053a8-6362-4452-bf82-ea7a79cb6ba2" name="publish-errorq-subflow"/>
		</on-error-propagate>
		<on-error-propagate  enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5daf33a7-8b32-4a0e-8bc1-bd96ac1dec9d" type="APP:ESTOREAPI">
			<ee:transform doc:name="error_canonical" doc:id="7696b90e-e242-4daa-9444-1fcf5d18d28b" >
				<ee:message >
					<ee:set-payload resource="dwl/error_canonical.dwl"/>
				</ee:message>
			</ee:transform>
			<flow-ref doc:name="publish-errorq-subflow" doc:id="8f21c18e-8bcb-4931-afc5-e056141b3dc9" name="publish-errorq-subflow"/>
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7131d239-b1bc-4187-8f09-a03e62f933a0" type="ANY">
			<ee:transform doc:name="error_canonical" doc:id="785922a4-6f01-483f-be86-17d1201c23b0" >
				<ee:message >
					<ee:set-payload resource="dwl/error_canonical.dwl"/>
				</ee:message>
			</ee:transform>
			<flow-ref doc:name="publish-errorq-subflow" doc:id="6ff878d9-6f78-4d79-86af-52470e240bd7" name="publish-errorq-subflow"/>
		</on-error-propagate>
	</error-handler>
	<sub-flow name="publish-errorq-subflow" doc:id="58644d71-3723-4c42-ae2e-25418a0a849e" >
		<vm:publish doc:name="Publish" doc:id="d1f02498-5394-4e74-b9a7-8c742fb08173" config-ref="VM_Config" queueName="errorq" sendCorrelationId="AUTO">
			<vm:content ><![CDATA[#[payload]]]></vm:content>
		</vm:publish>
	</sub-flow>
	<flow name="vm-errorq-listeningFlow" >
		<vm:listener queueName="errorq" doc:name="Listener" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" message="#[payload]"/>
	</flow>
</mule>
