src/main/mule/estoreexpress-subscriberapi-mule.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="estoreexpress-subscriberapi-mule-main">
        <http:listener config-ref="estoreexpress-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="estoreexpress-subscriberapi-mule-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\ping:estoreexpress-subscriberapi-mule-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  username: "test1",
  password: "test"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\readuser:estoreexpress-subscriberapi-mule-config">
        <flow-ref doc:name="readusers" doc:id="7e83c515-a9fa-4f9b-a08f-85ff3a4b9219" name="readusers" target="usersdbresponse" />
        <logger level="INFO" doc:name="Logger" doc:id="1ee5fcf6-f3a2-48e6-af8e-c270b2877400" message="#[output application/json --- vars.usersdbresponse]" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "success",
  loggedin: "test1"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\createuser:application\json:estoreexpress-subscriberapi-mule-config">
        <flow-ref doc:name="insertuser" doc:id="af92114f-5847-45c9-8c22-b4aeac52da71" name="insertuser" target="usersdbresponse" />
        <logger level="INFO" doc:name="Logger" doc:id="cf56399b-d73f-46d1-ad97-6d752aaccd4c" message="#[output application/json --- vars.usersdbresponse]" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  username: payload.username,
  message: "success",
  name: payload.name
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\deleteuser:application\json:estoreexpress-subscriberapi-mule-config">
        <flow-ref doc:name="deleteuser" doc:id="fe9a18c9-644a-4cb8-ab74-eb4643115a1f" name="deleteuser" target="usersdbresponse" />
        <logger level="INFO" doc:name="Logger" doc:id="08cfa47c-c507-43df-b849-344febb297f9" message="#[output application/json --- vars.usersdbresponse]" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  username: payload.username,
  name: payload.name
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\updateuser:application\json:estoreexpress-subscriberapi-mule-config">
		<set-variable value='#[payload.lastlogin as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"}]' doc:name="Set Variable" doc:id="4a5728ab-db47-46af-864a-69faef93a3bc" variableName="lastlogin"/>
		<flow-ref doc:name="updateuser" doc:id="a0106dd4-f1f0-4ed2-af0b-f209be17106f" name="updateuser" target="usersdbresponse" />
        <choice doc:name="Choice" doc:id="f79684f5-54bb-4ff1-b211-964b1876ae9a" >
			<when expression="#[vars.usersdbresponse.affectedRows == 0]">
				<logger level="INFO" doc:name="Logger" doc:id="6d932687-32c2-45c3-bacb-3a218132d738" message='#[output application/json --- {"message": "user doesnt exits"}]'/>
				<raise-error doc:name="Raise error" doc:id="0957b39b-5ca2-4d06-92af-972c72a5b074" type="APPERROR:NO_SUCH_CLIENT"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="51b81ff6-fed5-4363-9ccc-10ff02fd7533" message='#[output application/json --- {"message": "user exits"}]'/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="4479891e-3f3c-4607-9cd1-1bd42ff2604d" message="#[output application/json --- vars.usersdbresponse]" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  username: payload.username,
  password: payload.password,
  lastlogin: payload.lastlogin
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\testuserq:application\json:estoreexpress-subscriberapi-mule-config">
        <async doc:name="Async" doc:id="4913317c-541f-4fa2-a1f1-d742f6e36245" >
			<flow-ref doc:name="estoreexpresstest-userq-publishvmsubFlow" doc:id="064e0ce9-2ca3-4a38-a2ae-a95c0fad86ee" name="estoreexpresstest-userq-publishvmsubFlow" />
		</async>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  msgtype: "register",
  message: {
    username: "test1",
    password: "test",
    name: "testname"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\testerrorq:application\json:estoreexpress-subscriberapi-mule-config">
        <ee:transform doc:name="Transform Message" doc:id="fe9b766e-716b-4e14-b19e-4c1ad95d7e4d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ++ {"errorcode": "0001"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<async doc:name="Async" doc:id="4913317c-541f-4fa2-a1f1-d742f6e36245" >
			<flow-ref doc:name="estoreexpresstest-errorq-publishvmsubFlow" doc:id="064e0ce9-2ca3-4a38-a2ae-a95c0fad86ee" name="publish-errorq-subflow" />
		</async>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "errorcode": "0001",
  "errorpayload": {"transactionId":"9e56521b.ec30.4709.b477.c743f3854063","msgtype":"register","transactionstatus":"Failed","error":{"description":"The client with ID: test1 is already registered","type":"APPERROR:CLIENT_ALREADY_EXISTS","cause":"The client with ID: test1 is already registered"}}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
   <flow name="get:\readproduct:estoreexpress-subscriberapi-mule-config">
		<flow-ref doc:name="readproducts" doc:id="6c3a0aff-3103-44bd-9b43-cd3ab1ebaf1b" name="readproducts" target="productsdbresponse" />
        <logger level="INFO" doc:name="Logger" doc:id="e23f8ada-f759-4816-9b58-5cf7e331bbbe" message="#[output application/json --- vars.productsdbresponse]" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  title: "iPhone 9",
  description: "An apple mobile which is nothing like apple",
  price: 549,
  discountPercentage: 12.96,
  rating: 4.69,
  stock: 94,
  brand: "Apple",
  category: "smartphones",
  thumbnail: "https://www.publicdomainpictures.net/pictures/10000/velka/1-1210009435EGmE.jpg"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\createproduct:application\json:estoreexpress-subscriberapi-mule-config">
		<ee:transform doc:name="auditfields" doc:id="98bedc63-ef6b-4f69-9b7c-62f1ee8ec55d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="auditfield" ><![CDATA[%dw 2.0
output application/json
---
{
	created_on: now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"},
	updated_on: now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c9602de4-3826-4d1b-9285-7ad28edee65f" message="#[output application/json --- vars.auditfield]"/>
		<flow-ref doc:name="createproducts" doc:id="ffb53d23-071d-4e74-b777-54d775393dbc" name="insertproduct" target="productsdbresponse" />
        <logger level="INFO" doc:name="Logger" doc:id="ec899dca-e732-402a-b0c7-021016e0cfde" message="#[output application/json --- vars.productsdbresponse]" /> 
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "id": "2",
  "title": "iPhone X",
  "description": "SIM-Free, Model A19211 6.5-inch Super Retina HD display with OLED technology A12 Bionic chip with ...",
  "price": 899,
  "discountPercentage": 12.96,
  "rating": 4.69,
  "stock": 94,
  "brand": "Apple",
  "category": "smartphones",
  "thumbnail": "https://www.publicdomainpictures.net/pictures/10000/velka/1-1210009435EGmE.jpg"
  
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
   <flow name="post:\deleteproduct:application\json:estoreexpress-subscriberapi-mule-config">
   		<flow-ref doc:name="deleteproducts" doc:id="03290b8b-4c9e-4d32-a1d7-903d8a57d7ec" name="deleteproduct" target="productsdbresponse" />
        <logger level="INFO" doc:name="Logger" doc:id="c9faf504-4de2-43ab-8311-d35e46764a0b" message="#[output application/json --- vars.productsdbresponse]" /> 
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  username: payload.id,
  name: payload.title
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
   <flow name="post:\updateproduct:application\json:estoreexpress-subscriberapi-mule-config"> 
       <set-variable value='#[now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"}]' doc:name="Set Variable" doc:id="9320d568-11f0-41fd-939f-60e6bad99172" variableName="updated_on"/>
       <flow-ref doc:name="readproductbytitle" doc:id="a24330cf-37b3-41a7-98e8-e2ef45766087" name="readproductbytitle" target="readproductbytitle" />
       <logger level="INFO" doc:name="Logger" doc:id="93117bf0-ba90-4f70-9262-3728a2c965b9" message="#[vars.readproductbytitle]"/>
	   <choice doc:name="Choice" doc:id="efa7446e-684f-4bbc-8262-94af625f0355" >
			<when expression="#[vars.readproductbytitle[0].title != payload.title]">
				<logger level="INFO" doc:name="Logger" doc:id="3930936b-a10d-41fc-9dca-04fbc93e513c" message='#[output application/json --- {"message": "product fetch zero or multiple records"}]'/>
				<raise-error doc:name="Raise error" doc:id="c8fba795-1e9f-474b-8054-ce200df2f483" type="APPERROR:PRODUCT TITLE SHOULD BE UNIQUE"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="d8c2eba6-58fa-4c57-8bc1-dfeb53803e4a" message='#[output application/json --- {"message": "product with title existsexits"}]'/>
			</otherwise>
		</choice>	
		<ee:transform doc:name="Transform Message" doc:id="ecf327fc-fb98-4bd5-96f0-f8cd186c42b1" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="updatedproductfieldvalues" ><![CDATA[%dw 2.0
output application/java
var recordrarting = vars.readproductbytitle[0].rating
var recorddescription = vars.readproductbytitle[0].description
var recordprice = vars.readproductbytitle[0].price
var recorddiscountPercentage = vars.readproductbytitle[0].discountPercentage
var recordstock = vars.readproductbytitle[0].stock
var recordcategory = vars.readproductbytitle[0].category
var recordthumbnail = vars.readproductbytitle[0].thumbnail

---
{
	"rating": if ( payload.rating != null) payload.rating else recordrarting,
	"description": if ( payload.description != null) payload.description else recorddescription,
	"price": if ( payload.price != null) payload.price else recordprice,
	"discountPercentage": if ( payload.discountPercentage != null) payload.discountPercentage else recorddiscountPercentage,
	"stock": if ( payload.stock != null) payload.stock else recordstock,
	"category": if ( payload.category != null) payload.category else recordcategory,
	"thumbnail": if ( payload.thumbnail != null) payload.thumbnail else recordthumbnail		
} ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2063727e-3b76-4e2c-91d7-ef1c43b732ef" message="#[output application/json --- vars.updatedproductfieldvalues]"/>
		<flow-ref doc:name="updateproduct" doc:id="dd8bc1d6-f224-46f8-8e95-def814b44c1c" name="updateproduct" target="productdbresponse" />
        <choice doc:name="Choice" doc:id="d2688a89-6c15-46c7-a646-0153522ca345" >
			<when expression="#[vars.productdbresponse.affectedRows == 0]">
				<logger level="INFO" doc:name="Logger" doc:id="57637c3d-680c-4367-b136-03904bc69367" message='#[output application/json --- {"message": "product doesnt exits"}]'/>
				<raise-error doc:name="Raise error" doc:id="aab3243d-b3a1-4795-8f0b-a69856f06fea" type="APPERROR:NO_SUCH_CLIENT"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="3d7b3fcc-085e-4ae2-96d1-d2da6956f9bc" message='#[output application/json --- {"message": "product exits"}]'/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="d378377b-bc2b-40b0-9f4a-c4e18cac0733" message="#[output application/json --- vars.productdbresponse]" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  title: payload.title
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
 <flow name="post:\order:application\json:estoreexpress-subscriberapi-mule-config">
		<ee:transform doc:name="auditfields" doc:id="c7537bd1-cc66-4622-a3ca-d26680a84f6a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="auditfield" ><![CDATA[%dw 2.0
output application/json
---
{
	created_on: now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"},
	updated_on: now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value="#[uuid()]" doc:name="uuid" doc:id="6f860885-53ff-49ff-ae0f-ec0ddbc57e8b" variableName="orderidentifier"/>
		<flow-ref doc:name="create-order-transactional" doc:id="a2e0c23a-1726-4c5a-b7b7-6e6b4910b1d1" name="create-order-transactional"/>
		<logger level="INFO" doc:name="Logger" doc:id="a2ca0322-26ef-40a7-955a-11495e12dc33" message="#[output application/json --- vars.auditfield]"/>
		<logger level="INFO" doc:name="Logger" doc:id="5094fcbf-5a1c-4837-a254-715657e68754" message="#[output application/json --- payload]"/>
    </flow>
   <flow name="get:\readorders:estoreexpress-subscriberapi-mule-config">
		<flow-ref doc:name="readorders" doc:id="f2902cc0-1b78-4d2d-8707-1c92022e893a" name="readorders" target="ordersdbresponse" />
        <logger level="INFO" doc:name="Logger" doc:id="92db4462-b5e6-4a61-b392-08957bfb021e" message="#[output application/json --- vars.productsdbresponse]" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  "orderdbresponse": vars.ordersdbresponse
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
 <flow name="post:\orderitem:application\json:estoreexpress-subscriberapi-mule-config">
		<ee:transform doc:name="auditfields" doc:id="f68acd72-ec6a-4d7b-ab17-9381f1668980" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="auditfield" ><![CDATA[%dw 2.0
output application/json
---
{
	created_on: now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"},
	updated_on: now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<!-- <flow-ref doc:name="insertorderitem" doc:id="d3f81f7e-7178-482d-86b6-0484ea696a9a" name="insertorderitem" target="orderitemdbresponse" /> -->
		<ee:transform doc:name="Transform Message" doc:id="d5126962-32b0-4bbb-9d07-ae8ed02bb570" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map() -> {
 "orderid": $.orderid,
 "productid": $.productid,
 "quantity": $.quantity,
 "created_on": vars.auditfield.created_on,
 "updated_on": vars.auditfield.updated_on
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="bulk-insert-orderitem" doc:id="a0b09c9d-9d77-4eff-aca0-9f1b88afc26d" name="bulk-insert-orderitem" target="orderitemdbresponse" />
		<logger level="INFO" doc:name="Logger" doc:id="5d35594a-17aa-455c-be2c-f641dd3e0fc8" message="#[output application/json --- vars.auditfield]"/>
		<logger level="INFO" doc:name="Logger" doc:id="b38bbf1a-6648-4e8b-9c32-98b0f987aecb" message="#[output application/json --- payload]"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "create order item",
  payload: vars.orderitemdbresponse
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
 <flow name="post:\orderstatus:application\json:estoreexpress-subscriberapi-mule-config">
		<ee:transform doc:name="auditfields" doc:id="3762175e-e9b2-4180-b0ab-0c1e30656ad4" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="auditfield" ><![CDATA[%dw 2.0
output application/json
---
{
	created_on: now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"},
	updated_on: now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value="#[payload.orderidentifier]" doc:name="orderidentifier" doc:id="b753bfd7-3874-4f7b-a56c-507c890c747a" variableName="orderidentifier"/>
		<flow-ref doc:name="retrieveorderbyorderidentifier" doc:id="abeb2b21-26b3-42ea-9852-9a552ced0717" name="retrieveorderbyorderidentifier" target="orderbyidentiferresponse" />
		<choice doc:name="Choice" doc:id="c49c2007-c145-4ab3-be18-b6322df43d4f" >
			<when expression="#[sizeOf(vars.orderbyidentiferresponse) == 1]">
			<flow-ref doc:name="updateorderstatus" doc:id="1f44e624-1441-4b8f-a4bb-41d36b266707" name="updateorderstatus" target="updateorderstatusresponse" />
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "order status updated successfully",
  payload: vars.updateorderstatusresponse
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="f573bd04-50e0-45b1-8ba6-1f0ac3ecea2b" >
					<ee:message >
						 <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "order doesnot exist"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
 <flow name="post:\orderdestroy:application\json:estoreexpress-subscriberapi-mule-config">
		<ee:transform doc:name="auditfields" doc:id="4c90ed44-54da-4525-ba27-1cdc34dcedd0" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="auditfield" ><![CDATA[%dw 2.0
output application/json
---
{
	created_on: now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"},
	updated_on: now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value="#[payload.orderidentifier]" doc:name="orderidentifier" doc:id="357c8e71-50fd-40e6-b659-1135548218f1" variableName="orderidentifier"/>
		<flow-ref doc:name="retrieveorderbyorderidentifier" doc:id="9483b888-1ea1-436b-ac32-893f7b29b31d" name="retrieveorderbyorderidentifier" target="orderbyidentiferresponse" />
		<choice doc:name="Choice" doc:id="678882ed-c5f2-4f1d-a73d-0f50ca919bd4" >
			<when expression="#[sizeOf(vars.orderbyidentiferresponse) == 1]">
			<set-variable value="#[vars.orderbyidentiferresponse[0].orderid]" doc:name="Set Variable" doc:id="69936834-0ffd-493a-abb0-585d3f40ca4e" variableName="orderid"/>
			<flow-ref doc:name="destroyorderitems" doc:id="a2b89444-e2f6-4ec3-890c-f03d49184641" name="destroyorderitems" target="destroyorderitemsresponse" />	
			<flow-ref doc:name="destroyorder" doc:id="37e49d91-e591-4b9d-b84b-b0ae6f95e4ce" name="destroyorder" target="destroyorderresponse" />
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "order destroyed successfully",
  payload: vars.destroyorderresponse
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="c7901fcd-aaa9-4ed0-8a83-b3a60181b38b" >
					<ee:message >
						 <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "order doesnot exist"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
   <flow name="post:\testorderq:application\json:estoreexpress-subscriberapi-mule-config">
        <async doc:name="Async" doc:id="839e094c-1a68-48e9-9b02-e976926c1904" >
			<flow-ref doc:name="orderq-publishvmsubFlow" doc:id="c1970fa2-3c18-4943-9506-c53ff3c6d403" name="orderq-publishvmsubFlow" />
		</async>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  msgtype: "createorder",
  message: "message published to orderq"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
