src/main/mule/estoreexpress-subscriber-vm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="subscriber-userqFlow" doc:id="fc66c6f1-ae84-4a00-ae8a-a81555e37a9e" >
		<vm:listener doc:name="Listener" doc:id="2f686f81-7191-42ab-89f4-24c12ea9ecb2" config-ref="VM_Config" queueName="userq"/>
		<logger level="INFO" doc:name="Logger" doc:id="e30c496f-9051-44de-b277-d178991da436" message="#[output application/json --- payload]"/>
		<choice doc:name="Choice" doc:id="2f846240-5519-4a7a-a0d4-9d73f39fc609" >
			<when expression="#[payload.msgtype == 'register']">
				<ee:transform doc:name="Transform Message" doc:id="9de4ac0d-bd12-4f06-b715-9aeee80fcc92" >
				  <ee:message >
				    <ee:set-payload resource="dwl/insertuser.dwl" />
				  </ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="4a61061e-ed56-40c9-80c9-3282024d82db" message="#[output application/json --- payload]"/>
				<flow-ref doc:name="insertuser" doc:id="5283b560-d88b-42cb-b5c6-d3ce6a5ae07e" name="insertuser" target="usersdbresponse"/>
				<ee:transform doc:name="Transform Message" doc:id="f200e32b-7e88-462b-a48c-2c448510325a">
					<ee:message>
						<ee:set-payload resource="dwl/registerresponse.dwl" />
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[payload.msgtype == 'login']">
				<set-variable value='#[payload.message.lastlogin as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"}]' doc:name="Set Variable" doc:id="da53a278-5d4c-4edf-bc69-a6d77bc6aec7" variableName="lastlogin"/>
				<ee:transform doc:name="Transform Message" doc:id="d41594ec-7f6d-4ead-9066-ab41f1c732ab" >
				  <ee:message >
				    <ee:set-payload resource="dwl/updateuser.dwl" />
				  </ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="b47e9bc6-0a06-497e-a823-8d70edf7042f" message="#[output application/json --- payload]"/>
				<flow-ref doc:name="updateuser" doc:id="5f6c49f4-bad9-44c9-8580-2fb9734bc9c0" name="updateuser" target="usersdbresponse"/>
				<ee:transform doc:name="Transform Message" doc:id="d96762b2-129f-4bb1-bf42-067e12c34448">
					<ee:message>
						<ee:set-payload resource="dwl/loginresponse.dwl" />
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="c282a828-07ba-4841-bd30-3e254b42eeea" message="#[output application/json --- payload]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="4297bea4-4de0-43aa-b1c8-442e2a76975d" message="#[output application/json --- payload]"/>
	</flow>
	<sub-flow name="estoreexpresstest-userq-publishvmsubFlow" doc:id="3983f745-2971-4e44-8d71-66faec21a878" >
		<vm:publish queueName="userq" doc:name="Publish" doc:id="58dbdfe9-c7b9-4d6d-bb48-bc59de8079e3" config-ref="VM_Config"/>
	</sub-flow>
		<sub-flow name="orderq-publishvmsubFlow" doc:id="2e63beed-b7f3-457b-b146-c6597a6eb53c" >
		<vm:publish queueName="orderq" doc:name="Publish" doc:id="965d9cc5-e837-4252-bc9b-56c837107086" config-ref="VM_Config_orderq"/>
	</sub-flow>
	<flow name="subscriber-orderqFlow" doc:id="2f13a798-ac6e-4b6e-8c03-3670c4744160" initialState="started">
		<vm:listener doc:name="Listener" doc:id="d9c2a561-481e-4281-a286-45b348b98b08" config-ref="VM_Config_orderq" queueName="orderq"/>
		<logger level="INFO" doc:name="Logger" doc:id="b2ac2c73-6951-4129-9822-76992a1df265" message="#[output application/json --- payload]"/>
		<choice doc:name="Choice" doc:id="86e3f6a5-eb72-48ec-b35c-415f07dd5ff9" >
			<when expression="#[payload.msgtype == 'createorder']">
				<ee:transform doc:name="Transform Message" doc:id="855fab5d-369c-43be-ae04-7d206e58aa0c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.message]]></ee:set-payload>
					</ee:message>
				</ee:transform>
<ee:transform doc:name="auditfields" doc:id="9b50bb49-619f-4320-96db-fff535349ba7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="auditfield" ><![CDATA[%dw 2.0
output application/json
---
{
	created_on: now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"},
	updated_on: now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<set-variable value="#[uuid()]" doc:name="uuid" doc:id="fd8cf347-2d76-4ae5-8e52-62713b881e03" variableName="orderidentifier"/>
				<flow-ref doc:name="create-order-transactional" doc:id="0f1be000-7715-4d59-b9d3-d9fc853bdbcb" name="create-order-transactional"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="bdb00884-8d9e-4f4e-bfb2-12dde6fc3f3e" message="#[output application/json --- payload]"/>
			</otherwise>
		</choice>
	</flow>
</mule>
