src/main/mule/estoreexpress-subscriberapi-mule.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="estoreexpress-subscriberapi-mule-main">
        <http:listener config-ref="estoreexpress-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="estoreexpress-subscriberapi-mule-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\ping:estoreexpress-subscriberapi-mule-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  username: "test1",
  password: "test"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\readuser:estoreexpress-subscriberapi-mule-config">
        <flow-ref doc:name="readusers" doc:id="7e83c515-a9fa-4f9b-a08f-85ff3a4b9219" name="readusers" target="usersdbresponse" />
        <logger level="INFO" doc:name="Logger" doc:id="1ee5fcf6-f3a2-48e6-af8e-c270b2877400" message="#[output application/json --- vars.usersdbresponse]" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "success",
  loggedin: "test1"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\createuser:application\json:estoreexpress-subscriberapi-mule-config">
        <flow-ref doc:name="insertuser" doc:id="af92114f-5847-45c9-8c22-b4aeac52da71" name="insertuser" target="usersdbresponse" />
        <logger level="INFO" doc:name="Logger" doc:id="cf56399b-d73f-46d1-ad97-6d752aaccd4c" message="#[output application/json --- vars.usersdbresponse]" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  username: payload.username,
  message: "success",
  name: payload.name
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\deleteuser:application\json:estoreexpress-subscriberapi-mule-config">
        <flow-ref doc:name="deleteuser" doc:id="fe9a18c9-644a-4cb8-ab74-eb4643115a1f" name="deleteuser" target="usersdbresponse" />
        <logger level="INFO" doc:name="Logger" doc:id="08cfa47c-c507-43df-b849-344febb297f9" message="#[output application/json --- vars.usersdbresponse]" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  username: payload.username,
  name: payload.name
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\updateuser:application\json:estoreexpress-subscriberapi-mule-config">
		<set-variable value='#[payload.lastlogin as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"}]' doc:name="Set Variable" doc:id="4a5728ab-db47-46af-864a-69faef93a3bc" variableName="lastlogin"/>
		<flow-ref doc:name="updateuser" doc:id="a0106dd4-f1f0-4ed2-af0b-f209be17106f" name="updateuser" target="usersdbresponse" />
        <choice doc:name="Choice" doc:id="f79684f5-54bb-4ff1-b211-964b1876ae9a" >
			<when expression="#[vars.usersdbresponse.affectedRows == 0]">
				<logger level="INFO" doc:name="Logger" doc:id="6d932687-32c2-45c3-bacb-3a218132d738" message='#[output application/json --- {"message": "user doesnt exits"}]'/>
				<raise-error doc:name="Raise error" doc:id="0957b39b-5ca2-4d06-92af-972c72a5b074" type="APPERROR:NO_SUCH_CLIENT"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="51b81ff6-fed5-4363-9ccc-10ff02fd7533" message='#[output application/json --- {"message": "user exits"}]'/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="4479891e-3f3c-4607-9cd1-1bd42ff2604d" message="#[output application/json --- vars.usersdbresponse]" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  username: payload.username,
  password: payload.password,
  lastlogin: payload.lastlogin
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\testuserq:application\json:estoreexpress-subscriberapi-mule-config">
        <async doc:name="Async" doc:id="4913317c-541f-4fa2-a1f1-d742f6e36245" >
			<flow-ref doc:name="estoreexpresstest-userq-publishvmsubFlow" doc:id="064e0ce9-2ca3-4a38-a2ae-a95c0fad86ee" name="estoreexpresstest-userq-publishvmsubFlow" />
		</async>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  msgtype: "register",
  message: {
    username: "test1",
    password: "test",
    name: "testname"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\testerrorq:application\json:estoreexpress-subscriberapi-mule-config">
        <ee:transform doc:name="Transform Message" doc:id="fe9b766e-716b-4e14-b19e-4c1ad95d7e4d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ++ {"errorcode": "0001"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<async doc:name="Async" doc:id="4913317c-541f-4fa2-a1f1-d742f6e36245" >
			<flow-ref doc:name="estoreexpresstest-errorq-publishvmsubFlow" doc:id="064e0ce9-2ca3-4a38-a2ae-a95c0fad86ee" name="publish-errorq-subflow" />
		</async>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "errorcode": "0001",
  "errorpayload": {"transactionId":"9e56521b.ec30.4709.b477.c743f3854063","msgtype":"register","transactionstatus":"Failed","error":{"description":"The client with ID: test1 is already registered","type":"APPERROR:CLIENT_ALREADY_EXISTS","cause":"The client with ID: test1 is already registered"}}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
   <flow name="get:\readproduct:estoreexpress-subscriberapi-mule-config">
		<flow-ref doc:name="readproducts" doc:id="6c3a0aff-3103-44bd-9b43-cd3ab1ebaf1b" name="readproducts" target="productsdbresponse" />
        <logger level="INFO" doc:name="Logger" doc:id="e23f8ada-f759-4816-9b58-5cf7e331bbbe" message="#[output application/json --- vars.productsdbresponse]" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  title: "iPhone 9",
  description: "An apple mobile which is nothing like apple",
  price: 549,
  discountPercentage: 12.96,
  rating: 4.69,
  stock: 94,
  brand: "Apple",
  category: "smartphones",
  thumbnail: "https://www.publicdomainpictures.net/pictures/10000/velka/1-1210009435EGmE.jpg"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\createproduct:application\json:estoreexpress-subscriberapi-mule-config">
		<ee:transform doc:name="auditfields" doc:id="98bedc63-ef6b-4f69-9b7c-62f1ee8ec55d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="auditfield" ><![CDATA[%dw 2.0
output application/json
---
{
	created_on: now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"},
	updated_on: now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c9602de4-3826-4d1b-9285-7ad28edee65f" message="#[output application/json --- vars.auditfield]"/>
		<flow-ref doc:name="createproducts" doc:id="ffb53d23-071d-4e74-b777-54d775393dbc" name="insertproduct" target="productsdbresponse" />
        <logger level="INFO" doc:name="Logger" doc:id="ec899dca-e732-402a-b0c7-021016e0cfde" message="#[output application/json --- vars.productsdbresponse]" /> 
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "id": "2",
  "title": "iPhone X",
  "description": "SIM-Free, Model A19211 6.5-inch Super Retina HD display with OLED technology A12 Bionic chip with ...",
  "price": 899,
  "discountPercentage": 12.96,
  "rating": 4.69,
  "stock": 94,
  "brand": "Apple",
  "category": "smartphones",
  "thumbnail": "https://www.publicdomainpictures.net/pictures/10000/velka/1-1210009435EGmE.jpg"
  
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
   <flow name="post:\deleteproduct:application\json:estoreexpress-subscriberapi-mule-config">
   		<flow-ref doc:name="deleteproducts" doc:id="03290b8b-4c9e-4d32-a1d7-903d8a57d7ec" name="deleteproduct" target="productsdbresponse" />
        <logger level="INFO" doc:name="Logger" doc:id="c9faf504-4de2-43ab-8311-d35e46764a0b" message="#[output application/json --- vars.productsdbresponse]" /> 
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  username: payload.id,
  name: payload.title
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
   <flow name="post:\updateproduct:application\json:estoreexpress-subscriberapi-mule-config"> 
       <set-variable value='#[now() as Date {format: "yyyy-MM-dd"} as String {format: "yyyy-MM-dd"}]' doc:name="Set Variable" doc:id="9320d568-11f0-41fd-939f-60e6bad99172" variableName="updated_on"/>
       <flow-ref doc:name="readproductbytitle" doc:id="a24330cf-37b3-41a7-98e8-e2ef45766087" name="readproductbytitle" target="readproductbytitle" />
       <logger level="INFO" doc:name="Logger" doc:id="93117bf0-ba90-4f70-9262-3728a2c965b9" message="#[vars.readproductbytitle]"/>
	   <choice doc:name="Choice" doc:id="efa7446e-684f-4bbc-8262-94af625f0355" >
			<when expression="#[vars.readproductbytitle[0].title != payload.title]">
				<logger level="INFO" doc:name="Logger" doc:id="3930936b-a10d-41fc-9dca-04fbc93e513c" message='#[output application/json --- {"message": "product fetch zero or multiple records"}]'/>
				<raise-error doc:name="Raise error" doc:id="c8fba795-1e9f-474b-8054-ce200df2f483" type="APPERROR:PRODUCT TITLE SHOULD BE UNIQUE"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="d8c2eba6-58fa-4c57-8bc1-dfeb53803e4a" message='#[output application/json --- {"message": "product with title existsexits"}]'/>
			</otherwise>
		</choice>	
		<flow-ref doc:name="updateproduct" doc:id="dd8bc1d6-f224-46f8-8e95-def814b44c1c" name="updateproduct" target="productdbresponse" />
        <choice doc:name="Choice" doc:id="d2688a89-6c15-46c7-a646-0153522ca345" >
			<when expression="#[vars.productdbresponse.affectedRows == 0]">
				<logger level="INFO" doc:name="Logger" doc:id="57637c3d-680c-4367-b136-03904bc69367" message='#[output application/json --- {"message": "product doesnt exits"}]'/>
				<raise-error doc:name="Raise error" doc:id="aab3243d-b3a1-4795-8f0b-a69856f06fea" type="APPERROR:NO_SUCH_CLIENT"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="3d7b3fcc-085e-4ae2-96d1-d2da6956f9bc" message='#[output application/json --- {"message": "product exits"}]'/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="d378377b-bc2b-40b0-9f4a-c4e18cac0733" message="#[output application/json --- vars.productdbresponse]" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  title: payload.title
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow> 
</mule>
